#container {
  display: grid;
  height: 100vh;
  width: 100%;
  background-color: greenyellow;
  grid-template-columns: 40% 60%;
  grid-template-rows: 15% 80% 5%;
  grid-template-areas: 
  "hdr hdr"
  "cpw ent"
  "cpw ftr"
}

body {
justify-items: center;
align-content: center;
}

#header {
  display: grid;
  font-size: 4rem;
  justify-items: center;
  align-content: center;
  grid-area: hdr;
  background-color: gray;
  color: greenyellow;
  width: 100%;
}

#current-passwords {
  height: 100%;
  text-align: center;
  grid-area: cpw;
  background-color: gray;
  color: greenyellow;
}

#submit-button {
  justify-content: center;
  height: 100px;
  width: 200px;
  border-radius: 10%;
  font-size: 2em;
  background-color: gray;
  color: greenyellow;
}

#delete-all-button {
  width: 80px;
  height: 40px;
}

#domain-name {
  width: 300px;
  background-color: gray;
  color: greenyellow;
}


#username {
  width: 300px;
  background-color: gray;
  color:  greenyellow;
}

#password {
  width: 300px;
  background-color: gray;  
  color: greenyellow;
}

#footer {
  display: grid;
  grid-area: ftr;
  justify-content: right;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: gray;
}

.enter-new {
  grid-area: ent;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-items: space-between;
  align-content:space-around ;

}

#new-button button {
  float: right;
}

#user-inputs {
  margin-top: 300px;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  justify-items: space-between;
}