#container {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-image:  url("https://media.giphy.com/media/IgLIVXrBcID9cExa6r/giphy.gif");
  background-blend-mode: overlay;
  grid-template-columns: 20% 80%;
  grid-template-rows: 15% 80% 5%;
  grid-template-areas: 
  "cpw hdr"
  "cpw ent"
  "cpw ftr"
}

button {
  font-family: fantasy;
}

body {
  justify-items: center;
  align-content: center;
}

#readme-link {
  font-size: .3em;
  color: yellow;
}

#header {
  display: grid;
  font-size: 4rem;
  font-family: fantasy;
  justify-items: center;
  align-content: center;
  grid-area: hdr;
  background-color: darkred;
  color: black;
  width: 100%;
  height: 100%;
}

#current-passwords {
  grid-area: cpw;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  background-color: black;
  color: darkred;
  font-family: fantasy;
}

#current-passwords-header {
  text-decoration: underline;
}

#submit-button {
  height: 50px;
  width: 100px;
  border-radius: 10%;
  font-size: 1.5em;
  background-color: black;
  color: darkred;
  grid-area: smb;
  border-style: solid;
  border-color: yellow;
}


#delete-all-button {
  width: 70%;
  height: 50px;
  border-color: yellow;
  border-style: solid;
  background-color: black;
  color: darkred;
  font-weight: bold;
  font-size: 1.7em;
  margin-top: 20px;
  margin-left: 35px;
}

#domain-name {
  width: 300px;
  background-color: black;
  color: yellow;
  font-weight: bold;
  border-color: yellow;
  border-style: solid;
}


#username {
  width: 300px;
  background-color: black;
  color:  yellow;
  font-weight: bold;
  border-color: yellow;
  border-style: solid;
}

#password {
  width: 300px;
  background-color: black;  
  color: yellow;
  font-weight: bold;
  border-color: yellow;
  border-style: solid;
}

#footer {
  display: grid;
  grid-area: ftr;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: gray;
}

.enter-new {
  grid-area: ent;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
  align-items: center;
}

#new-button button {
  float: right;
  margin-right: 100px;
  margin-top: 100px;
}

#user-inputs {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: space-between;
  align-items: center;
  margin-bottom: 100px;
}

ul li {
  margin-top: 5px; 
  margin-right: 50px;
  list-style-type: none;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  background-color: black;
  color: darkred;
  border-style: solid;
  border-color: yellow;
  font-weight: bold;
  font-family: monospace;
}

@media(max-width: 400px)  {
  #container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 10% 35% 35% 20%;
    grid-template-columns: 100%;
    background-image: url("https://media.giphy.com/media/KcDreBsNBhGVrXYWAr/giphy.gif");
    background-position: 16.3cm;
    grid-template-areas: 
    "hdr"    
    "smb"
    "ent"
    "cpw";
  }

  #header {
    grid-area: hdr;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    background-color: black;
    color: darkred;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-style: italic;
  }

  #current-passwords {
    grid-area: cpw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    background-color: darkred;
    color: black;
    font-weight: bold;
    font-style: italic;
    font-family: cursive;
  }

  #submit-button {
    grid-area: smb;
    height: 50px;
    width: 100px;
    font-size: 1em;
    background-color: darkred;
    color: black;
    margin-top: 400px;
    margin-left: 40px;
    font-weight: bold;
    font-style:italic;
    font-family: cursive;
  }

  #delete-all-button {
    font-style: italic;  
    font-family: cursive;
    margin-bottom: -1px;
  }

  #user-inputs {
    display: flex;
    flex-direction: column;
  }

  #domain-name {
    width: 300px;
    background-color: black;
    color: yellow;
    font-weight: bold;
    margin-top: 900px;
}

  #username {
    width: 300px;
    color:  yellow;
    font-weight: bold;
    background-color: black;
}

  #password {
    width: 300px;
    color: yellow;
    font-weight: bold;
    background-color: black;
  }

  #readme-link {
    margin-top: -22px;
    font-size: .2em;
  }

  ul {
    background-color: darkred;
    width: 88%;

  }
  
  li {
    padding: 5px;

  }
  button {
    margin-top: 10px;
    margin-bottom: 50px;
  }
}